.hero{
    height: 80vh;
    background-color: #00346660;
    /* background-repeat: no-repeat; */
    background-position: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-display{
    height: 100vh;
    width:100%;
    background-image: url(.././images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    bottom: 0;
    z-index: -10;
    animation: swipe 12s infinite alternate linear;
}

@keyframes swipe {
    0% {
        background-image: url(.././images/hero.jpg);
    }
    25% {
        background-image: url(.././images/hero.jpg);
    }
    
    75% {
        background-image: url(.././images/hero1.jpg);
    }
    100% {
        background-image: url(.././images/hero1.jpg);
    }
}

@keyframes bchange {
    0% {
        content: 'Beauty Face';
        opacity: 1;
        color: #e6e6e6; 
    }
    
    25% {
        content: 'Beauty Face';
        opacity: 1;
        color: #e6e6e6; 
    }
    
    50% {
        color: transparent; 
        opacity: 0;
    }
    
    75% {
        content: 'Best Offers';
        opacity: 1;
        color: #e6e6e6; 
    }

    100% {
        content: 'Best Offers';
        color: #e6e6e6; 
        opacity: 1;
    }
}

@keyframes achange {
    0% {
        content: 'Elevate Your Style & Your Beauty';
        opacity: 1;
        color: #e6e6e6; 
    }

    25% {
        content: 'Elevate Your Style & Your Beauty';
        opacity: 1;
        color: #e6e6e6; 
    }
    
    50% {
        color: transparent; 
        opacity: 0;
    }
    
    75% {
        content: 'Affordable Prices, Fast Services';        
        opacity: 1;
        color: #e6e6e6; 
    }

    100% {
        content: 'Affordable Prices, Fast Services';        
        opacity: 1;
        color: #e6e6e6; 
    }
}

.hero::before{
    content: 'Beauty Face';
    color: #e6e6e6;
    font-size: 80px;    
    font-weight: bold;
    text-align: center;
    animation: bchange 12s infinite alternate ease;
}

.hero::after{
    content: 'Elevate Your Style & Your Beauty';
    color: #e6e6e6;
    text-align: center;
    font-size: 30px;
    animation: achange 12s infinite alternate ease;
}

h1{
    padding: 5px 20px;
    font-size: clamp(30px, 40px, 50px);
    font-weight: bold;
    text-align: center;
    color: #003466;
}

.banner-section, .fashion-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
    gap: 10px;
    padding: 20px 40px;
}
.banner{
    width: 100%;
    transition: .2s;
}
.banner:hover{
    scale: 1.02;
}

.fashion-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 40px;
}

.fashion-card{
    width: calc(100% - 20px);
    height: 100px;
    background: #0a0f32;
    color: #f0f8ff;
    border-radius: 16px;
    padding: 10px; 
    position: relative;
    /* background: linear-gradient( to bottom right, #7da7d9 1%, #0a0f32); */
    transition: .4s;
}

.fashion-card p{
    font-size: 50px;
    color: #f0f8ff30;
    position: absolute;
    text-align: right;
    top: 0px;
    right: 10px;
}

.fashion-card:hover{
    background: linear-gradient( to bottom right, #7da7d9 1%, #0a0f32);
}
.fashion-card img{
    height: 100px;
}

@media (max-width: 768px) {
    .hero::before{
        font-size: 70px;
    }

    .hero::after{
        font-size: 25px;
    }
    .banner-section, .fashion-section{
        grid-template-columns: 1fr;
    }
    .fashion-section p{
        font-size: 30px;
    }
}

@media (max-width: 380px) {
    .hero::before{
        font-size: 60px;
    }

    .hero::after{
        font-size: 23px;
    }
}

@media (max-width: 330px) {
    .hero::before{
        font-size: 50px;
    }

    .hero::after{
        font-size: 20px;
    }
    
}