.hero{
    height: 80vh;
    background-color: #00346660;
    /* background-repeat: no-repeat; */
    background-position: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-display{
    height: 100vh;
    width:100%;
    background-image: url(.././images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    bottom: 0;
    z-index: -10;
    animation: swipe 6s infinite alternate ease;
}

@keyframes swipe {
    0% {
        background-image: url(.././images/hero.jpg);
    }
    
    100% {
        background-image: url(.././images/hero1.jpg);
    }
}

@keyframes bchange {
    0% {
        content: 'Beauty Face';
    }

    100% {
        content: 'Best Offers';
    }
}

@keyframes achange {
    0% {
        content: 'Elevate Your Style & Your Beauty';
    }

    100% {
        content: 'Affordable Prices, Fast Services';
    }
}

.hero::before{
    content: 'Beauty Face';
    color: #e6e6e6;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    animation: bchange 6s infinite alternate ease;
}

.hero::after{
    content: 'Elevate Your Style & Your Beauty';
    color: #e6e6e6;
    text-align: center;
    font-size: 30px;
    animation: achange 6s infinite alternate ease;
}

h1{
    padding: 5px 20px;
    font-size: clamp(30px, 40px, 50px);
    font-weight: bold;
    text-align: center;
    color: #003466;
}

@media (max-width: 768px) {
    .hero::before{
        font-size: 70px;
    }

    .hero::after{
        font-size: 25px;
    }
}

@media (max-width: 380px) {
    .hero::before{
        font-size: 60px;
    }

    .hero::after{
        font-size: 23px;
    }
}

@media (max-width: 330px) {
    .hero::before{
        font-size: 50px;
    }

    .hero::after{
        font-size: 20px;
    }
}