.signin-form, .signup-form {
  background: linear-gradient( to top, #7da7d9, #003466);
  padding: 30px; 
  border-radius: 20px;
  border: 2px solid #003466;
  max-width: 300px;
  margin: 30px auto;
  display: grid;
}
.signup-form {
  background: linear-gradient( to top , #003466, #7da7d9, #003466);
}

.signup-form h1, .signin-form h1 {
  font-size: 28px;
  color: #e6e6e6;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  width: calc(100% - 30px);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #e6e6e6;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #fbeaeb;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #003466;
  background-color: #e6e6e690;
  backdrop-filter: blur(10px);
}
.form-group input{
  outline: none;
}
.auth-btn {
  background-color: #003466;
  color: #e6e6e6;
  padding: 10px;
  width: fit-content;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0px  0px 0px auto;
}

.auth-btn:hover {
  background: linear-gradient( to bottom, #7da7d9, #003466);
}

.error {
  color: #ff6347;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .signin-form, .signup-form {
    width: 80%; 
    padding: 30px;
  }
  .signup-form h1, .signin-form h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .signin-form, .signup-form {
    width: 80%;
    padding: 20px;
    margin: 30px auto;
  }
  .signup-form h1, .signin-form h1 {
    font-size: 20px;
  }

  .form-group {
    width: calc(100% - 30px);
  }

}