.wishlist-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px;
  box-shadow: -5px 5px 5px #fff, 5px -5px 5px #fff;
}

.wishlist-container h2 {
  padding: 20px;
  background: #003466;
  color: #e6e6e6;
  text-align: center;
}

.empty{
  width: 200px;
  border-radius: 0 0 50% 50%;
  margin: auto;
  /* background: #7da7d9; */
}
.place{
  display: grid;
  margin-top: 20px;
}
.place a{
  margin: 20px auto;
  width: fit-content;
  padding: 10px 20px;
  color: #e6e6e6;
  background: #003466;
  border: 2px solid transparent;
  transition: 0.4s;
}
.place a:hover{
  background: transparent;
  color: #003466;
  border: 2px solid #003466;
}
.place-holder {
  font-size: 30px;
  text-align: center;
  height: 100%;
  padding: 10px 0;
}

.wishlist-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.item-image {
  width: 60px;
  border-radius: 11px;
}

.wishlist-item h4{
  min-width: 120px;
}

.add-to-cart-btn,
.remove-from-wishlist {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn {
  background-color: #28a745;
  color: white;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}

.remove-from-wishlist {
  background-color: #dc3545;
  color: white;
}

.remove-from-wishlist:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .wishlist-container {
    margin: 10px;
    padding: 15px;
  }

  .wishlist-item {
    align-items: center;
  }

  .wishlist-item p{
    font-size: 13px;
  }

  .item-image {
    width: 40px;
  }

  .add-to-cart-btn,
  .remove-from-wishlist {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .wishlist-container h2 {
    font-size: 18px;
    padding: 10px;
  }

  .wishlist-item {
    padding: 8px;
    gap: 10px;
  }

  .wishlist-container {
    margin: 5px;
    padding: 10px;
  }

  .wishlist-item h4 {
    font-size: 14px;
    max-width: 100px;
  }
}
