body {
  background-color: #f0f8ff;
}
.notification{
  padding: 10px;
  background: #e6e6e6;
  color: #003466;
  font-size: 15px;
  width: fit-content;
  position: fixed;
  border: 2px solid #003466;
  border-radius: 10px;
  top: 10px;
  left: 10px;
  z-index: 2000;
  transform: translateY(-200px);
  animation: drop 2s ease;
}

@keyframes cart {
  0% {
    transform: translateY(-200px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200px);
  }
}

@keyframes wish1 {
  0% {
    transform: translateY(-200px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200px);
  }
}

@keyframes wish2 {
  0% {
    transform: translateY(-200px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200px);
  }
}

@keyframes order {
  0% {
    transform: translateY(-200px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200px);
  }
}