body {
  background-color: #f0f8ff;
}

.toast-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
}

.toast {
  margin-top: 10px;
  padding: 16px;
  min-width: 250px;
  border-radius: 5px;
  color: #fff;
  background: #fff;
  font-size: 16px;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast-success { color: #28a745; border: 2px solid #28a745;}
.toast-error   { color: #dc3545; border: 2px solid #dc3545;}
.toast-info    { color: #17a2b8; border: 2px solid #17a2b8;}
.toast-warning { background-color: #ffc107; color: #000; }

@keyframes fadein {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeout {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(20px); }
}
